layout {

    focus-ring {
        active-color   "#9ed67c"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9ed67c"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9ed67c"
        inactive-color "#225104"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9ed67c80"
    }
}

recent-windows {
    highlight {
        active-color "#9ed67c"
        urgent-color "#ffb4ab"
    }
}
