* {
    border: none;
    border-radius: 14;
    font-family: "monospace";
    font-size: 15px;
    min-height: 0;
    margin-right: 3;
    margin-left: 3;
}
tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.7);
  border-radius: 10px;
  }

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

#workspaces {
    font-size: 14px;
    color: #000000;
    opacity: 0.8;
    margin: 0 5px;
}

#workspaces button {
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
}

#workspaces button.active {
    color: #414a4c;
    background: rgba(173,216,230,0.9);
    border-radius: 12px;
}

#workspaces button:hover {
    color: #000000;
    background: #CCCCCC;
    border-radius: 12px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#battery, #network, #backlight, #pulseaudio, #bluetooth, #custom-power_profile {
    padding: 0 5px;
}

/* Default Bluetooth icon color (off state) */
#bluetooth {
    color: #6886C5;
    transition: color 0.3s ease;
}

/* When Bluetooth is powered on */
#bluetooth.on {
    color: blue;
}

/* When Bluetooth is powered off */
#bluetooth.disabled {
    color: grey;
}


#clock {
    color: #feff79;
    padding: 0 9px;
}

#battery {
}

#battery.charging, #battery.plugged {
}


/*#battery.icon {
    color: red
}*/

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 4 0px;
}

#cpu {
}

#memory {
}

#network {
    color: #7BEF8B;
}

#network.disconnected {
    background: #f53c3c;
    border-radius: 8px;
    margin: 4 0px;
}

#pulseaudio{
}

#custom-wireguard {
    font-family: "Nerd Font"; 
    font-size: 14px;
    padding: 0 10px;
}

#custom-wireguard.connected {
    color: #BF3131;
}

#custom-wireguard.disconnected {
    color: grey;
}


#custom-power_profile{
    color: #eb2d3a;
}

#custom-powermenu{
    color: #E9E2D0;
    margin: 0px 4px;
}

#custom-media.playing{
    color: grey;
}

#pulseaudio.muted {
    color: #D3D3D3;
}

#tray {
}
